body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.content{
  padding: 10px;
}
.contentBlock{
  margin-bottom: 15px;
}
.popUpBox{
  background-color: rgba(105, 100, 100, 0.3);
  line-height: 40px;
  height: 40px;

}

